{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="content">
    <p>
        {% blocktrans trimmed %}
        Используя токен, вы получаете доступ к открытому API Университета 20.35
        {% endblocktrans %}
    </p>
    {% if not USER_SOCIAL_AUTH %}
        {% trans "Необходимо залогиниться через sso для того, чтобы получить токен" %}
    {% else %}
        {% if error %}
            <div>
                <p>{{ error }}</p>
            </div>
        {% endif %}
        {% if token %}
            {% blocktrans with code=token.key %}Ваш токен: {{ code }}{% endblocktrans %}
        {% else %}
            <form method="post">
                {% csrf_token %}
                <button type="submit">{% trans "Получить токен" %}</button>
            </form>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
