Django==2.2.4
jsonfield==2.0.2
mysqlclient==1.4.1
requests==2.20.0
django-split-settings==0.2.5
django-rest-swagger==2.2.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
djangorestframework==3.10.2
-e git+https://github.com/EduScaled/carrier-client@master#egg=carrier_client
