.navbar-brand img {
    height: 50px;
}

.navbar {
    display: flex;
    width: 100%;
}

.navbar-nav {
    display: flex;
}

.ml-auto {
    margin-left: auto !important;
}

.nav-user-image img {
    border-radius: 50%;
    max-height: 40px;
    vertical-align: middle;
}

.color-grey {
    color: grey;
}

.badge-leader-id {
    color: #fff !important;
    background-color: grey;
    margin-top: 5px;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .1rem;
}

.nav-leader-id-container {
    float: left;
}

.nav-logout-btn-container {
    float: right;
    margin-top: 5px;
}

.nav-user-info {
    margin-top: -5px;
}

.nav-link {
    text-decoration: none;
    color: #e52127;
}

.nav-link.active {
    background-color: #737373 !important;
}

footer {
    margin-top: 20px;
    padding: 20px 15px;
}

.response-col_description {
    min-width: 500px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0 15px;
}

body {
    padding: 0px 40px;
}

.flex {
    display: flex;
}

footer a, .service-link {
    color: #e52127;
    text-decoration: none;
}

footer .col-year {
    flex: 0 0 16.6%;
    max-width: 16.6%;
}

footer .col-link {
    flex: 0 0 83.4%;
    max-width: 83.6%;
}

.services-list {
    list-style-type: none;
    padding-left: 15px;
}

.content {
    padding: 0 15px;
}
